{{>admin/layout/header}}
<div class="container" id="div-code-management" >
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab-code-group" data-toggle="tab" href="#div-code-group" role="tab" aria-controls="div-code-group" aria-selected="true">코드그룹</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" id="tab-code" data-toggle="tab" href="#div-code" role="tab" aria-controls="div-code" aria-selected="false" style="display: none;">공통코드</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="div-code-group" role="tabpanel" aria-labelledby="tab-code-group">
            <div class="div-crud-buttons">
                <a class="btn btn-outline-primary" id="btn-load-groups">코드그룹 불러오기</a>
                <a class="btn btn-outline-primary" id="btn-add-group">코드그룹 등록</a>
            </div>

            <div class="mb-3">
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th width="8%">그룹코드</th>
                        <th width="22%">코드이름(영문)</th>
                        <th width="22% ">코드이름(국문)</th>
                        <th width="23%">작성일시</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="groups">

                    </tbody>
                </table>
                <div>
                    <ul class="pagination pagination-sm justify-content-center" id="pagination-group" >
                    </ul>
                </div>
            </div>
            <div class="mb-5">
                <form id="form-save-group">
                    <div class="form-group">
                        <input type="hidden" name="id" id="id" />
                        <label for="code">그룹코드</label>
                        <input type="text" class="form-control" name="code" id="code" />
                    </div>
                    <div class="form-group">
                        <label for="nameEng">코드이름(영문)</label>
                        <input type="text" class="form-control" name="nameEng" id="nameEng" />
                        <label for="nameKor">코드이름(국문)</label>
                        <input type="text" class="form-control" name="nameKor" id="nameKor" />
                    </div>
                    <a class="btn btn-primary" id="btn-save-group">Submit</a>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="div-code" role="tabpanel" aria-labelledby="tab-code" >
            <div class="div-crud-buttons">
                <a class="btn btn-outline-primary" id="btn-add-code">공통코드 등록</a>
            </div>

            <div class="mb-3" >
                <div class="tableArea h200">
                    <table class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th width="10%">그룹코드</th>
                            <th width="22%">코드이름(영문)</th>
                            <th width="22% ">코드이름(국문)</th>
                            <th width="24%">작성일시</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="codes">

                        </tbody>
                    </table>
                </div>

                <div>
                    <ul class="pagination pagination-sm justify-content-center" id="pagination-code" style="margin:20px 0">
                    </ul>
                </div>
            </div>
            <div class="mb-5">
                <form id="form-save-code">
                    <div class="form-group">
                        <input type="hidden" name="id" id="id" />
                        <label for="common-code">코드</label>
                        <input type="text" class="form-control" name="code" id="common-code" />
                    </div>
                    <div class="form-group">
                        <label for="code-nameEng">코드이름(영문)</label>
                        <input type="text" class="form-control" name="nameEng" id="code-nameEng" />
                        <label for="code-nameKor">코드이름(국문)</label>
                        <input type="text" class="form-control" name="nameKor" id="code-nameKor" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="groupId" id="groupId" readonly/>
                    </div>
                    <a class="btn btn-primary" id="btn-save-code">Submit</a>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="static/js/comonCode.js"></script>
{{>layout/footer}}