{{>admin/layout/header}}
<div class="container" id="div-item-management" >
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab-item-master" data-toggle="tab" href="#div-item-master" role="tab" aria-controls="div-item-master" aria-selected="true">상품마스터</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" id="tab-item-option" data-toggle="tab" href="#div-item-option" role="tab" aria-controls="div-item-option" aria-selected="false" style="display: none;">상품옵션</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" id="tab-item-display" data-toggle="tab" href="#div-item-display" role="tab" aria-controls="div-item-display" aria-selected="false" style="display: none;">상품전시</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" id="tab-item-display-option" data-toggle="tab" href="#div-item-display-option" role="tab" aria-controls="div-item-display-option" aria-selected="false" style="display: none;">상품전시 옵션</a>
        </li>
    </ul>
    <!-- 상품 마스터 -->
    <div class="tab-content" id="itemMasterTabContent">
        <div class="tab-pane fade show active" id="div-item-master" role="tabpanel" aria-labelledby="tab-item-master">
            <div class="pl-5 pt-3 pb-3 mt-3 mb-3 bg-light">
                <label class="mr-2" for="input-search-item-master">상품명</label>
                <input class="mr-2" type="text" name="code" id="input-search-item-master" >
                <a class="btn btn-sm btn-primary" id="btn-search-item-master">검색</a>
            </div>
            <div class="div-crud-buttons">
                <a class="btn btn-outline-primary" id="btn-load-item-masters">상품 불러오기</a>
                <a class="btn btn-outline-primary" id="btn-add-item-master">상품 등록</a>
            </div>
            <div class="mb-3">
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>분류</th>
                        <th width="50%">이름</th>
                        <th>가격</th>
                        <th>등록일시</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="item-masters">

                    </tbody>
                </table>
                <div>
                    <ul class="pagination pagination-sm justify-content-center" id="pagination-item-master" >
                    </ul>
                </div>
            </div>
            <div class="mb-5">
                <form id="form-save-item-master" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="master-id" />

                    <label for="categoryId">분류</label>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-outline-primary ml-3" data-toggle="modal" data-target="#categorySearchModal">
                        검색
                    </button>
                    <input type="hidden" class="form-control" name="categoryId" id="categoryId" />
                    <input type="text" class="form-control mt-1 mb-2" name="categoryName" id="categoryName" readonly/>

                    <label for="itemName">이름</label>
                    <input type="text" class="form-control mb-2" name="itemName" id="itemName" />
                    <label for="price">가격</label>
                    <input type="text" class="form-control mb-2" name="price" id="price" />
                    <label for="thumbnail">이미지</label>

                    <p class="thumbnailInfo d-none"><img class="oriThumbnail" width="50px"/><span id="btn-delete-thumbnail" class="btn btn-sm btn-outline-dark ml-2">X</span></p>
                    <input type="file" class="form-control mb-2" accept="image/png, image/jpeg" name="thumbnail" id="thumbnail"/>
                    <a class="btn btn-primary" id="btn-save-item-master">Submit</a>
                </form>
            </div>
        </div>
        <!-- 상품 옵션 -->
        <div class="tab-pane fade" id="div-item-option" role="tabpanel" aria-labelledby="tab-item-option">

            <div class="div-crud-buttons">
                <div class="optionAddPreview"></div>
                <a class="btn btn-outline-primary d-none" id="btn-save-option-list" >저장</a>
                <a class="btn btn-outline-primary" data-toggle="modal" data-target="#optionAddModal">옵션 간편 등록</a>
            </div>

            <div class="div-crud-buttons">
                <a class="btn btn-outline-primary" id="btn-add-item-option">옵션 등록</a>
            </div>
            <div class="mb-3">
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>상품명</th>
                        <th>옵션</th>
                        <th>등록일시</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="item-options">

                    </tbody>
                </table>
                <div>
                    <ul class="pagination pagination-sm justify-content-center" id="pagination-item-option" >
                    </ul>
                </div>
            </div>
            <div class="mb-5">
                <form id="form-save-item-option" >
                    <input type="hidden" name="id" id="optionId" />
                    <label for="itemMasterName">상품명</label>
                    <input type="text" class="form-control mb-2" name="itemMasterName" id="itemMasterName" readonly />
                    <label for="color">색상</label>
                    <input type="text" class="form-control mb-2" name="color" id="color" />
                    <label for="size">사이즈</label>
                    <input type="text" class="form-control mb-2" name="size" id="size" placeholder="ONE SIZE" />
                    <a class="btn btn-primary" id="btn-save-item-option">Submit</a>
                </form>
            </div>
        </div>
        <!-- 상품 전시 -->
        <div class="tab-pane fade p-1" id="div-item-display" role="tabpanel" aria-labelledby="tab-item-display" style="height: 600px; overflow-y: auto;">
            <div class="div-crud-buttons">
                <a class="btn btn-outline-primary" id="btn-delete-item-display">전시상품 삭제</a>
                <a class="btn btn-outline-primary" id="btn-load-item-display-options">전시상품 옵션</a>
            </div>
            <div class="mb-5">
                <form id="form-save-item-display" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="displayId" />
                    <label for="itemParentMasterName">상품 마스터명</label>
                    <input type="text" class="form-control mb-2" name="itemMasterName" id="itemParentMasterName" readonly />

                    <label for="itemDisplayName">전시상품명</label>
                    <input type="text" class="form-control mb-2" name="itemDisplayName" id="itemDisplayName" />

                    <label for="status">전시상태</label>
                    <select class="form-control mb-2" name="status" id="status">
                        {{#itemStatus}}
                            <option value="{{name}}">{{description}}</option>
                        {{/itemStatus}}
                    </select>

                    <label for="salePrice">판매가</label>
                    <input type="text" class="form-control mb-2" name="salePrice" id="salePrice" />
                    <label for="detailImage">이미지</label>
                    <p class="detailImageInfo d-none"><img class="oriDetailImage" width="50px"/><span id="btn-delete-detail-image" class="btn btn-sm btn-outline-dark ml-2">X</span></p>
                    <input type="file" class="form-control mb-2" accept="image/png, image/jpeg" name="detailImage" id="detailImage"/>

                    <label for="detailSize">사이즈상세</label>
                    <textarea class="form-control mb-2" name="size" id="detailSize" ></textarea>
                    <label for="material">소재</label>
                    <textarea class="form-control mb-2" name="material" id="material" ></textarea>
                    <label for="description">상세설명</label>
                    <textarea class="form-control mb-2" name="description" id="description" ></textarea>
                    <label for="notice">공지</label>
                    <textarea class="form-control mb-2" name="notice" id="notice" ></textarea>
                    <a class="btn btn-primary" id="btn-save-item-display">Submit</a>
                </form>
            </div>
        </div>
        <!-- 상품 전시 옵션 -->
        <div class="tab-pane fade p-1" id="div-item-display-option" role="tabpanel" aria-labelledby="tab-item-display-option" >
            <div class="div-crud-buttons">
                <div class="optionAddPreview"></div>
                <a class="btn btn-outline-primary d-none" id="btn-save-display-option-list" >저장</a>
                <a class="btn btn-outline-primary" data-toggle="modal" data-target="#optionAddModal">옵션 간편 등록</a>
            </div>

            <div class="div-crud-buttons">
                <a class="btn btn-outline-primary" id="btn-add-item-display-option">옵션 등록</a>
            </div>
            <div class="mb-3">
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>상품명</th>
                        <th>옵션</th>
                        <th>등록일시</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="item-display-options">

                    </tbody>
                </table>
                <div>
                    <ul class="pagination pagination-sm justify-content-center" id="pagination-item-display-option" >
                    </ul>
                </div>
            </div>
            <div class="mb-5">
                <form id="form-save-item-display-option" >
                    <input type="hidden" name="id" id="displayOptionId" />
                    <label for="itemParentDisplayName">상품명</label>
                    <input type="text" class="form-control mb-2" name="itemDisplayName" id="itemParentDisplayName" readonly />
                    <label for="status">전시상태</label>
                    <select class="form-control mb-2" name="status" id="optionStatus">
                        {{#itemStatus}}
                            <option value="{{name}}">{{description}}</option>
                        {{/itemStatus}}
                    </select>
                    <label for="displayColor">색상</label>
                    <input type="text" class="form-control mb-2" name="color" id="displayColor" />
                    <label for="displaySize">사이즈</label>
                    <input type="text" class="form-control mb-2" name="size" id="displaySize" placeholder="ONE SIZE" />
                    <a class="btn btn-primary" id="btn-save-item-display-option">Submit</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="static/js/item.js"></script>
{{>admin/layout/footer}}