{{>admin/layout/header}}
<div class="container" id="div-item-management" >
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab-item-master" data-toggle="tab" href="#div-item-master" role="tab" aria-controls="div-item-master" aria-selected="true">상품마스터</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" id="tab-item-option" data-toggle="tab" href="#div-item-option" role="tab" aria-controls="div-item-option" aria-selected="false" style="display: none;">상품옵션</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="div-item-master" role="tabpanel" aria-labelledby="tab-item-master">
            <div class="div-crud-buttons">
                <a class="btn btn-outline-primary" id="btn-load-item-masters">상품 불러오기</a>
                <a class="btn btn-outline-primary" id="btn-add-item-master">상품 등록</a>
            </div>

            <div class="mb-3">
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>분류</th>
                        <th>이름</th>
                        <th>가격</th>
                        <th>등록일시</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="item-masters">

                    </tbody>
                </table>
                <div>
                    <ul class="pagination pagination-sm justify-content-center" id="pagination-item-master" >
                    </ul>
                </div>
            </div>
            <div class="mb-5">
                <form id="form-save-item-master" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="master-id" />

                    <label for="categoryId">분류</label>
                    <input type="text" class="form-control" name="categoryId" id="categoryId" />
                    <label for="itemName">이름</label>
                    <input type="text" class="form-control" name="itemName" id="itemName" />
                    <label for="price">가격</label>
                    <input type="text" class="form-control" name="price" id="price" />
                    <label for="thumbnail">이미지</label>
                    <input type="file" class="form-control" accept="image/png, image/jpeg" name="thumbnail" id="thumbnail"/>
                    <a class="btn btn-primary" id="btn-save-item-master">Submit</a>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="div-item-option" role="tabpanel" aria-labelledby="tab-item-option" >
            <div class="div-crud-buttons">
                <a class="btn btn-outline-primary" id="btn-add-item-option">공통코드 등록</a>
            </div>

            <div class="mb-3" >
                <div class="tableArea h200">
                    <table class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th>코드</th>
                            <th>코드이름(영문)</th>
                            <th>코드이름(국문)</th>
                            <th>작성일시</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="item-options">

                        </tbody>
                    </table>
                </div>

                <div>
                    <ul class="pagination pagination-sm justify-content-center" id="pagination-item-option" style="margin:20px 0">
                    </ul>
                </div>
            </div>
            <div class="mb-5">
                <form id="form-save-item-option">
                    <div class="form-group">
                        <input type="hidden" name="id" id="id" />
                        <label for="code">코드</label>
                        <input type="text" class="form-control" name="code" id="common-code" />
                    </div>
                    <div class="form-group">
                        <label for="code-nameEng">코드이름(영문)</label>
                        <input type="text" class="form-control" name="nameEng" id="code-nameEng" />
                        <label for="code-nameKor">코드이름(국문)</label>
                        <input type="text" class="form-control" name="nameKor" id="code-nameKor" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="groupId" id="groupId" readonly/>
                    </div>
                    <a class="btn btn-primary" id="btn-save-item-option">Submit</a>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="static/js/item.js"></script>
{{>layout/footer}}