{{>admin/layout/header}}
<div class="container" id="div-item-management" >
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab-item-master" data-toggle="tab" href="#div-item-master" role="tab" aria-controls="div-item-master" aria-selected="true">상품마스터</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" id="tab-item-option" data-toggle="tab" href="#div-item-option" role="tab" aria-controls="div-item-option" aria-selected="false" style="display: none;">상품옵션</a>
        </li>
    </ul>
    <!-- 상품 마스터 -->
    <div class="tab-content" id="itemMasterTabContent">
        <div class="tab-pane fade show active" id="div-item-master" role="tabpanel" aria-labelledby="tab-item-master">
            <div class="div-crud-buttons">
                <a class="btn btn-outline-primary" id="btn-load-item-masters">상품 불러오기</a>
                <a class="btn btn-outline-primary" id="btn-add-item-master">상품 등록</a>
            </div>
            <div class="mb-3">
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>분류</th>
                        <th width="50%">이름</th>
                        <th>가격</th>
                        <th>등록일시</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="item-masters">

                    </tbody>
                </table>
                <div>
                    <ul class="pagination pagination-sm justify-content-center" id="pagination-item-master" >
                    </ul>
                </div>
            </div>
            <div class="mb-5">
                <form id="form-save-item-master" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="master-id" />

                    <label for="categoryId">분류</label>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-outline-primary ml-3" data-toggle="modal" data-target="#categorySearchModal">
                        검색
                    </button>
                    <input type="hidden" class="form-control" name="categoryId" id="categoryId" />
                    <input type="text" class="form-control mt-1 mb-2" name="categoryName" id="categoryName" readonly/>

                    <label for="itemName">이름</label>
                    <input type="text" class="form-control mb-2" name="itemName" id="itemName" />
                    <label for="price">가격</label>
                    <input type="text" class="form-control mb-2" name="price" id="price" />
                    <label for="thumbnail">이미지</label>

                    <p class="thumbnailInfo d-none"><img class="oriThumbnail" width="50px"/><span id="btn-delete-thumbnail" class="btn btn-sm btn-outline-dark ml-2">X</span></p>
                    <input type="file" class="form-control mb-2" accept="image/png, image/jpeg" name="thumbnail" id="thumbnail"/>
                    <a class="btn btn-primary" id="btn-save-item-master">Submit</a>
                </form>
            </div>
        </div>
        <!-- 상품 옵션 -->
        <div class="tab-pane fade" id="div-item-option" role="tabpanel" aria-labelledby="tab-item-option">

            <div class="div-crud-buttons">
                <div class="optionAddPreview"></div>
                <a class="btn btn-outline-primary d-none" id="btn-save-option-list" >저장</a>
                <a class="btn btn-outline-primary" data-toggle="modal" data-target="#optionAddModal">옵션 간편 등록</a>
            </div>

            <div class="div-crud-buttons">
                <a class="btn btn-outline-primary" id="btn-add-item-option">옵션 등록</a>
            </div>
            <div class="mb-3">
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>상품명</th>
                        <th>옵션</th>
                        <th>등록일시</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="item-options">

                    </tbody>
                </table>
                <div>
                    <ul class="pagination pagination-sm justify-content-center" id="pagination-item-option" >
                    </ul>
                </div>
            </div>
            <div class="mb-5">
                <form id="form-save-item-option" >
                    <input type="hidden" name="id" id="optionId" />
                    <label for="itemMasterName">상품명</label>
                    <input type="text" class="form-control mb-2" name="itemMasterName" id="itemMasterName" readonly />
                    <label for="color">색상</label>
                    <input type="text" class="form-control mb-2" name="color" id="color" />
                    <label for="size">사이즈</label>
                    <input type="text" class="form-control mb-2" name="size" id="size" placeholder="ONE SIZE" />
                    <a class="btn btn-primary" id="btn-save-item-option">Submit</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="static/js/item.js"></script>
{{>admin/layout/footer}}