
<!-- Modal -->
<div class="modal fade" id="itemOptionSearchModal" tabindex="-1" aria-labelledby="itemOptionSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemOptionSearchModalLabel">전시상품 옵션 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-sm">
                            <label for="itemDisplayId" >전시상품ID</label>
                            <input type="text" class="form-control w-100" id="itemDisplayId" name="itemDisplayId"/>
                        </div>
                        <div class="col-sm">
                            <label for="itemDisplayName" >전시상품명</label>
                            <input type="text" class="form-control w-100" id="itemDisplayName" name="itemDisplayName"/>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary" id="btn-item-search" >검색</button>
                        </div>
                    </div>
                    <div class="row p-3 ">
                        <table class="table table-horizontal table-bordered">
                            <thead class="thead-strong">
                            <tr>
                                <th width="20% ">전시상품ID</th>
                                <th>상품명</th>
                                <th width="15% ">옵션</th>
                            </tr>
                            </thead>
                            <tbody id="itemSearchResult">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var modal = {
        div : $('#itemOptionSearchModal'),
        init : function(){
            var _this = this;
            _this.div.find("#btn-item-search").unbind('click').bind('click', function(){
                _this.search();
            });

        },
        appendResult : function(){
           this.div.off("click").on("click", ".itemRow", function (e) {
                var el = $(this);
                var id = el.find(".id").text();
                var info = el.find(".itemName").text() + '[' + el.find(".option").text() + ']';
                $("#div-add-delivery-item input[name='itemId']").val(id);
                $("#div-add-delivery-item input[name='itemInfo']").val(info);
                $('#itemSearchResult').empty();
                $('#itemOptionSearchModal').modal('hide');
            })
        },
        search : function(){
            var _this = this;
            var id = _this.div.find("#itemDisplayId").val();
            var name = _this.div.find("#itemDisplayName").val();
            $.ajax({
                type: 'GET',
                url: '/api/admin/itemDisplayOption/list?displayId='+ id + '&itemName='+ name,
                dataType: 'json',
                contentType:'application/json; charset=utf-8'
            }).done(function(response) {
                var resultData = response.response;
                console.log(resultData);

                const searchResult = _this.div.find('#itemSearchResult');
                searchResult.empty();
                if(resultData.length > 0){
                    $.each(resultData, function(){
                        const option = this;
                        const row = '<tr class="itemRow" style="cursor: pointer !important;">'
                                + '<td class="id">' + option.id +'</td>'
                                + '<td class="itemName">' + option.itemDisplay.itemDisplayName +'</td>'
                                + '<td class="option">' + option.color + '/' + option.size +'</td>'
                                + '</tr>';
                        searchResult.append(row);
                    });
                    _this.appendResult();
                }
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    };
    $("#itemOptionSearchModal").click(function(){
        modal.init();
    });
</script>