
<!-- Modal -->
<div class="modal fade" id="itemDisplaySearchModal" tabindex="-1" aria-labelledby="itemDisplaySearchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemDisplaySearchModalLabel">카테고리별 전시상품 조회</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid p-3">
                    <div class="form-group row mb-3 bg-light p-2">
                        <label class="col-form-label" for="category" >카테고리</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="category">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-sm-3"><button type="button" class="btn btn-primary" id="btn-item-display-search" >검색</button></div>
                    </div>
                    <div class="row">
                        <table class="table table-horizontal table-bordered">
                            <thead class="thead-strong">
                            <tr>
                                <th width="5%"><input class="checkAll" type="checkbox" /></th>
                                <th width="20% ">전시상품ID</th>
                                <th>상품명</th>
                            </tr>
                            </thead>
                            <tbody id="itemDisplaySearchResult" style="height: 150px; overflow-y: scroll;">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-append-items" data-dismiss="modal">추가</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var itemDisplaySearchModal = {
        parentDiv: '',
        div : $('#itemDisplaySearchModal'),
        init : function(parentDiv){
            var _this = this;
            _this.parentDiv = parentDiv;
            _this.loadCategories();
            _this.clear();
            _this.div.find("#btn-item-display-search").unbind('click').bind('click', function(){
                _this.search();
            });
            _this.div.find('.checkAll').unbind('click').bind('click', function(){
                if($(this).prop('checked'))
                    _this.div.find('#itemDisplaySearchResult .check input').prop('checked', true);
                else
                    _this.div.find('#itemDisplaySearchResult .check input').prop('checked', false);
            });
        },
        clear : function(){
            this.div.find('.checkAll').prop('checked', false);
            $('#category').val('');
            $('#itemDisplaySearchResult').empty();
        },
        loadCategories : function(){
            var _this = this;
            $.ajax({
                type: 'GET',
                url: '/api/admin/commonCode/search?codeGroup=C',
                dataType: 'json',
                contentType:'application/json; charset=utf-8'
            }).done(function(response) {
                var resultData = response;
                //console.log(response);
                const category = _this.div.find('#category');
                category.empty();
                category.append($('<option />').text('').val(''));
                if(resultData.length > 0){
                    $.each(resultData, function(){
                        const cate = this;
                       category.append($('<option />').text(cate.nameKor).val(cate.id));
                    });
                }
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });

        },
        appendResult : function(){
            const _this = this;
           _this.div.find("#btn-append-items").unbind('click').bind('click', function (e) {
               $.each(_this.div.find('#itemDisplaySearchResult .itemRow'), function(){
                  const id = $(this).find('.id').text();
                  const itemName = $(this).find('.itemName').text();
                  let eventItemDiv = $('<div class="eventItem mb-1"/>');
                  eventItemDiv
                           .append($('<input type="hidden" name="itemId"/>').val(id))
                           .append($('<button class="btn btn-sm btn-secondary"/>').text(itemName))
                           .append($('<button class="btn btn-sm deleteBtn"/>').text('X'));
                  const itemAddList = _this.parentDiv.find('.itemAddList');
                  let isExists = false;
                  $.each(itemAddList.find('.eventItem'), function () {
                      if($(this).find('input[name="itemId"]').val() === id){
                          isExists = true;
                          return false;
                      }
                  });
                  if(!isExists)
                      _this.parentDiv.find('.itemAddList').append(eventItemDiv);
               });
                $('#itemDisplaySearchModal').modal('hide');
            })
        },
        search : function(){
            var _this = this;
            var id = _this.div.find("#category").val();
            $.ajax({
                type: 'GET',
                url: '/api/admin/itemDisplay/category?id='+ id,
                contentType:'application/json; charset=utf-8'
            }).done(function(response) {
                var resultData = response.response;
                //console.log(resultData);
                const searchResult = _this.div.find('#itemDisplaySearchResult');
                searchResult.empty();
                $.each(resultData, function(){
                    const item = this;
                    const row = '<tr class="itemRow" style="cursor: pointer !important;">'
                            + '<td class="check"><input type="checkbox" /></td>'
                            + '<td class="id">' + item.id +'</td>'
                            + '<td class="itemName">' + item.itemDisplayName +'</td>'
                            + '</tr>';
                    searchResult.append(row);
                });
                _this.appendResult();
                _this.div.find('.checkAll').prop('checked', false);
                _this.div.find('#itemDisplaySearchResult .check input').prop('checked', false);
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    };
    $('.btn-item-display-modal').click(function(){
        const parentDiv = $(this).parents('.contentDiv');
        itemDisplaySearchModal.init(parentDiv);
    })
</script>