
        </div>
        <!-- Content End -->
    </div>
</div>

<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>
{{>admin/searchCateModal}}
{{>admin/addOptionModal}}
{{>admin/searchItemOptionModal}}
</body>

</html>
