
        </div>
        <!-- Content End -->
        <div class="col-sm-2" ></div>
    </div>
</div>

<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>



</body>

</html>
