
        </div>
        <!-- Content End -->

        <div class="col-sm-1"></div>
    </div>
</div>

<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>



</body>

<script src="/static/js/item.js"></script>
<script src="/static/js/itemDetail.js"></script>
<script src="/static/js/cart.js"></script>
<script src="/static/js/order.js"></script>
<script src="/static/js/myPage.js"></script>
<script src="/static/js/myOrder.js"></script>
</html>
