{{>layout/header}}
<div class="container">
    <div class="row m-5" id="div-passowrd">
        <div class="col-lg"></div>
        <div class="col-lg">
            <form id="form-password">
                <div class="form-group">
                    <input type="hidden" name="id" id="id" value={{id}} />
                    <label for="newPassword">새로운 패스워드</label>
                    <input type="text" class="form-control" name="newPassword" id="newPassword" />
                </div>
                <a class="btn btn-primary" id="btn-save">변경</a>
            </form>
        </div>
        <div class="col-lg"></div>
    </div>

</div>
<script>
    $(document).ready(function() {
        $("#btn-save").click(function () {
            save();
        });
    });
    function save(){
        var data = $('#form-password').serializeObject();

        $.ajax({
            type: 'PATCH',
            url: '/api/member/password',
            dataType: 'json',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify(data)
        }).done(function(response) {
            console.log(response);
            alert("패스워드가 변경 되었습니다. \n 로그인 페이지로 이동합니다.")
            location.href = "/login";
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });
    }
</script>

{{>layout/footer}}