{{>layout/header}}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>
<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>그룹코드</th>
        <th>코드이름(영문)</th>
        <th>코드이름(국문)</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody id="samples">

    </tbody>
</table>

<!-- /.container -->

{{>layout/footer}}