{{>layout/header}}

<!-- Index Content -->

<div>
    <p class="categoryTitle">BEST</p>
</div>
<div class="row" id="div-thumb">

</div>
<!-- /.container -->
<script src="static/js/item.js"></script>
{{>layout/footer}}