{{>layout/header}}
<body style="width: 100%; height: 100%;">
{{>layout/navigation}}
<div class="container-fluid" id="container-content">
    <div class="row">
        <!-- Content -->
        {{>layout/category}}
        <div class="col-sm-8" id="root" style="overflow: auto;">
            <!-- Index Content -->
            <!-- Item List -->
            <div id="div-sales-item-list" class="contentDiv">
                <div class="categoryTitle">
                    <p id="title">
                        <a class="main text-decoration-none">BEST</a>
                    </p>
                    <div id="div-sub-cates"></div>
                </div>
                <div class="row" id="div-thumb">

                </div>
                <div id="div-load-more-items"></div>
            </div>
            <!-- //Item List -->
            <!-- Item Detail -->
            <div class="d-none p-2 contentDiv" id="div-sales-item-detail">
                <div>
                    <p id="breadcrumb">
                        <a class="categoryTitle all" href="" onclick="return false;">
                            All
                        </a>
                        <span class="cateArea main">
                            >
                            <a class="categoryTitle" href="" onclick="return false;">
                                Main Category
                            </a>
                            <input type="hidden" name="categoryId" />
                        </span>
                        <span class="cateArea sub d-none">
                            >
                            <a class="categoryTitle" href="" onclick="return false;">
                                Sub Category
                            </a>
                            <input type="hidden" name="categoryId" />
                        </span>
                    </p>

                </div>
                <div class="row text-center">
                    <div class="col-sm-9">
                        <div class="row mb-lg-5">
                            <div class="text-center" id="div-item-detail-thumbnail">
                                <img src="" id="img-thumbnail" />
                            </div>
                        </div>
                        <ul class="nav nav-tabs" id="itemDetailTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-item-info" data-toggle="tab" href="#div-item-info" role="tab" aria-controls="div-item-info" aria-selected="true">상세정보</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link" id="tab-item-reivew" data-toggle="tab" href="#div-item-review" role="tab" aria-controls="div-item-review" aria-selected="false">리뷰</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="itemDetailTabContent">
                            <div class="tab-pane fade show active" id="div-item-info" role="tabpanel" aria-labelledby="tab-item-info" >
                                <div class="row m-lg-5">
                                    <div id="div-item-detail-notice" style="width: 100%;">
                                        <p class="text-center" id="p-notice" ></p>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div id="div-item-detail-description" >
                                        <textarea class="text-center border-0" id="text-description" readonly></textarea>
                                    </div>
                                </div>
                                <div class="row mb-lg-5">
                                    <div class="text-center" id="div-item-detail-image">
                                        <img src="" id="img-detail"/>
                                    </div>
                                </div>
                            </div>
                            <!-- reviews -->
                            <div class="tab-pane fade" id="div-item-review" role="tabpanel" aria-labelledby="tab-item-review" >
                                <div class="row-cols-xl-1 mb-lg-5">
                                    <p class="text-center p-2" id="no-review">작성된 리뷰가 없습니다.</p>
                                    <div class="p-3" id="table-review-list" >
                                        <table class="table-bordered mb-3" style="width: 100%;">
                                            <thead>
                                                <th width="10%">별점</th>
                                                <th class="text-left">리뷰내용</th>
                                                <th width="10%">작성자</th>
                                            </thead>
                                            <tbody id="item-reviews"></tbody>
                                        </table>
                                        <div>
                                            <ul class="pagination pagination-sm justify-content-center" id="pagination-review" >
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // reviews -->
                        </div>


                    </div>
                    <div class="col-sm-3 text-left pl-5 pr-2" id="div-item-summary" >
                        <div id="div-item-detail-name">
                            <b><p id="p-name"></p></b>
                        </div>
                        <div class="mb-lg-5" id="div-item-detail-price">
                            <div><span class="discount" id="p-ori-price"></span> won</div>
                            <div><span id="p-price"></span> won</div>
                        </div>
                        <div class="info" id="div-item-detail-size">
                            <div>사이즈</div>
                            <div id="p-size"></div>
                        </div>
                        <div class="info" id="div-item-detail-material">
                            <div>소재</div>
                            <div id="p-material"></div>
                        </div>
                        <div class="info" id="div-item-detail-options">
                            <p>옵션</p>
                            <select id="select-option"></select>
                        </div>
                        <div class="mb-5" id="div-selected-result">

                        </div>
                        <div>
                            <a class="btn btn-sm btn-primary" id="btn-add-cart" >장바구니</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Item Detail -->
            <!-- Cart -->
            <div class="d-none p-2 contentDiv" id="div-cart" >
                <h4 class="mb-3">장바구니</h4>
                <div class="mb-3">
                    <table class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th width="3%">선택</th>
                            <th >상품명</th>
                            <th width="10%">수량</th>
                            <th width="10% ">금액</th>
                            <th width="15%"></th>
                        </tr>
                        </thead>
                        <tbody id="cart-items">

                        </tbody>
                    </table>
                    <a class="btn btn-lg btn-primary" id="btn-order">주문하기</a>
                </div>
            </div>
            <!-- // Cart -->
            <!-- Order -->
            <div class="d-none p-2 contentDiv" id="div-order" >
                <div class="mb-5 orderItemInfo">
                    <h4 class="mb-3">주문상품정보</h4>
                    <table class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th >상품명</th>
                            <th width="10%">수량</th>
                            <th width="10% ">금액</th>
                        </tr>
                        </thead>
                        <tbody id="order-items">

                        </tbody>
                    </table>
                </div>
                <form id="form-save-order">
                    <div class="amountInfo">
                        <h5>쿠폰 사용</h5>
                        <div class="useCoupons mb-3">
                            <select name="usedCouponId" class="couponBox"></select>
                        </div>
                        <h5>포인트 사용</h5>
                        <div class="usePoints">
                            <!--<label for="use-all-points" >포인트 전부 사용</label>
                            <input type="checkbox" id="use-all-points" />-->
                            <p class="text-danger">※ 포인트 사용 시 포인트 적립이 되지 않습니다.</p>
                            <p>가용포인트 : <span class="usablePoints"></span> P</p>
                            <p>
                                <label for="usePoints" >사용포인트 : </label>
                                <input class="text-right" type="text" name="usedPoints" id="usePoints" value="0"/> P
                            </p>
                        </div>
                        <div class="row text-right">
                            <div class="col-9">상품금액</div>
                            <div class="col">
                                <span class="float-right text-right"><b><span class="totalItemPrice text-secondary"></span></b> 원</span>
                            </div>
                        </div>
                        <div class="row text-right">
                            <div class="col-9">상품할인금액</div>
                            <div class="col">
                                <span class="float-right text-right"><b>- <span class="totalDiscountPrice text-secondary"></span></b> 원</span>
                            </div>
                        </div>
                        <div class="row text-right">
                            <div class="col-9">쿠폰할인금액</div>
                            <div class="col">
                                <span class="float-right text-right"><b>- <span class="couponDiscountPrice text-secondary"></span></b> 원</span>
                            </div>
                        </div>
                        <div class="row text-right">
                            <div class="col-9">포인트사용금액</div>
                            <div class="col">
                                <span class="float-right text-right"><b>- <span class="usedPoints text-secondary"></span></b> 원</span>
                            </div>
                        </div>
                        <div class="row text-right">
                            <div class="col-9">배송비</div>
                            <div class="col">
                                <span class="float-right text-right"><b><span class="shippingFee text-secondary"></span></b> 원</span>
                            </div>
                        </div>
                        <h5 class="row text-lg-right">
                            <div class="col-9">총 결제금액</div>
                            <div class="col">
                                <span class="float-right text-right"><b><span class="payAmount text-primary"></span></b> 원</span>
                            </div>
                        </h5>
                    </div>
                    <h4 class="mb-3">주문정보</h4>
                    <div class="mb-5 ordererInfo">
                        <div class="form-group form-row">
                            <div class="col-sm-2"><label for="orderName">주문자명</label></div>
                            <div class="col-sm-10"><input type="text" class="form-control" name="name" id="orderName" /></div>
                        </div>

                        <div class="form-group form-row">
                            <div class="col-sm-2"><label for="orderTel">휴대전화</label></div>
                            <input type="hidden" name="tel" id="orderTel"/>
                            <div class="col-sm-3"><input type="text" class="form-control" id="orderTel1" /></div> -
                            <div class="col-sm-3"><input type="text" class="form-control" id="orderTel2" /></div> -
                            <div class="col-sm-3"><input type="text" class="form-control" id="orderTel3" /></div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-sm-2">주소</div>
                            <div class="col-sm-2">
                                <a class="btn btn-sm btn-outline-primary" onclick="orderer_execDaumPostcode()" >주소 검색</a><br>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="addr1" id="orderAddr1" />
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="addr2" id="orderAddr2" />
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-sm-2"><label for="orderEmail">주문확인용 이메일</label></div>
                            <div class="col-sm-10"><input type="text" class="form-control" name="email" id="orderEmail" /></div>
                        </div>
                    </div>
                    <h4 class="mb-3">배송정보</h4>
                    <div class="mb-3 deliverInfo">
                        <p>
                            <input type="checkbox" id="useOrdererInfo" />
                            <label for="useOrdererInfo" >주문자 정보와 동일</label>
                        </p>
                        <div class="form-group form-row">
                            <div class="col-sm-2"><label for="receiverName">배송인</label></div>
                            <div class="col-sm-10"><input type="text" class="form-control" name="receiverName" id="receiverName" /></div>
                        </div>

                        <div class="form-group form-row">
                            <div class="col-sm-2"><label for="receiverTel">휴대전화</label></div>
                            <input type="hidden" name="receiverTel" id="receiverTel"/>
                            <div class="col-sm-3"><input type="text" class="form-control" id="receiverTel1" /></div> -
                            <div class="col-sm-3"><input type="text" class="form-control" id="receiverTel2" /></div> -
                            <div class="col-sm-3"><input type="text" class="form-control" id="receiverTel3" /></div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-sm-2">주소</div>
                            <div class="col-sm-2">
                                <a class="btn btn-sm btn-outline-primary" onclick="receiver_execDaumPostcode()">주소 검색</a><br>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="receiverAddr1" id="receiverAddr1" />
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="receiverAddr2" id="receiverAddr2" />
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-sm-2"><label for="message">배송메세지</label></div>
                            <div class="col-sm-10"><input type="text" class="form-control" name="message" id="message" /></div>
                        </div>
                    </div>
                </form>
                <a class="btn btn-lg btn-primary" id="btn-order-process">주문 진행하기</a>
            </div>
            <!-- // Order -->
            <!-- My Page -->
            <div class="d-none p-2 contentDiv" id="div-my-page-main" >
                <h4 class="mb-3">마이페이지</h4>
                <div class="row mb-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active" onclick="goMyOrder();"  >
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">주문조회</h5>
                                <small>ORDER</small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action" onclick="goMyPage();">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">회원정보</h5>
                                <small class="text-muted">MY INFO</small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action" onclick="goMyQna();">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">문의내역</h5>
                                <small class="text-muted">QNA</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- // My Page -->
            <!-- My Page -->
            <div class="d-none p-2 contentDiv" id="div-member-info" >
                <h4 class="mb-3">회원정보</h4>
                <div class="row mb-3">
                    <div class="col">
                        <form id="form-info">
                            <div class="form-group form-row">
                                <div class="col-sm-2"><label for="userId">아이디</label></div>
                                <div class="col-sm-10 w-25"><input type="text" class="form-control" name="userId" id="userId" readonly/></div>
                            </div>
                            <div class="form-group form-row">
                                <div class="col-sm-2"><label for="password">비밀번호</label></div>
                                <div class="col-sm-10"><input type="password" class="form-control" name="password" id="password" /></div>
                            </div>
                            <div class="form-group form-row">
                                <div class="col-sm-2"><label for="name">닉네임</label></div>
                                <div class="col-sm-10"><input type="text" class="form-control" name="name" id="name" /></div>
                            </div>
                            <div class="form-group form-row">
                                <div class="col-sm-2"><label for="tel">휴대전화</label></div>
                                <input type="hidden" name="tel" id="tel"/>
                                <div class="col-sm-3"><input type="text" class="form-control" id="tel1" /></div> -
                                <div class="col-sm-3"><input type="text" class="form-control" id="tel2" /></div> -
                                <div class="col-sm-3"><input type="text" class="form-control" id="tel3" /></div>
                            </div>
                            <div class="form-group form-row">
                                <div class="col-sm-2">주소</div>
                                <div class="col-sm-1">
                                    <input type="button" class="btn btn-sm btn-outline-primary mr2 " onclick="mypage_execDaumPostcode()" value="주소 찾기"><br>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="addr1" id="addr1" />
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="addr2" id="addr2" />
                                </div>
                            </div>
                            <div class="div-form-buttons">
                                <a class="btn btn-primary" id="btn-save">저장</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- // My Page -->
            <!-- Order List -->
            <div class="d-none p-2 contentDiv" id="div-my-order-list" >
                <h4 class="mb-3">주문조회</h4>
                <div class="p-2 mb-5 bg-light text-secondary memberInfo">
                    <p><span class="name text-primary"></span>님은 [<span class="currRating text-primary"></span>] 등급이십니다.</p>
                    <p>구매금액의 <span class="ratio text-primary"></span>%가 포인트로 적립됩니다.</p>
                    <p>[<span class="nextRating text-primary"></span>]까지 남은 구매금액은 <span class="remainingAmount text-primary"></span>원 입니다.</p>

                    <p>총 주문금액 : <span class="orderedAmount text-dark"></span>원</p>
                    <p>가용적립금 : <span class="reserves text-dark"></span>원</p>
                </div>

                <div class="mb-3">
                    <table class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th width="10%" >주문일시<br/>[주문번호]</th>
                            <th>상품명</th>
                            <th width="10% ">총 주문금액</th>
                            <th width="15%">주문처리상태</th>
                        </tr>
                        </thead>
                        <tbody id="my-orders">

                        </tbody>
                    </table>
                    <div>
                        <ul class="pagination pagination-sm justify-content-center" id="pagination-order" >
                        </ul>
                    </div>
                </div>
            </div>
            <!-- // Order List -->
            <!-- Order Detail -->
            <div class="d-none p-2 contentDiv" id="div-my-order-detail" >
                <h4 class="mb-3">주문 상세</h4>
                <div class="mb-3 orderInfo p-2">
                    <h5>주문 정보</h5>
                    <div class="row">
                        <div class="col-2">주문번호</div>
                        <div class="col"><span id="orderId"></span></div>
                    </div>
                    <div class="row ">
                        <div class="col-2">주문일시</div>
                        <div class="col"><span id="orderDate"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2">주문자명</div>
                        <div class="col"><span id="orderName"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2">주문처리상태</div>
                        <div class="col-2"><span id="orderStatus"></span></div>
                        <div class="col"><button class="btn btn-sm btn-primary" id="btn-cancel-order">주문취소</button></div>
                    </div>
                </div>

                <div class="mb-3 amountInfo p-2">
                    <h5>결제 정보</h5>
                    <div class="row">
                        <div class="col-2">총 주문금액</div>
                        <div class="col"><span id="orderAmount"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2">상품 할인</div>
                        <div class="col"><span id="discountedAmount"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2">쿠폰 할인</div>
                        <div class="col"><span id="couponDiscountedAmount"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2">포인트 사용</div>
                        <div class="col"><span id="usedPoints"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2">총 결제금액</div>
                        <div class="col"><span id="payAmount"></span></div>
                    </div>
                    <div class="payInfo">
                        <div class="row">
                            <div class="col-2">결제수단</div>
                            <div class="col"><span id="payMethod"></span></div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 orderItem">
                    <table class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th>상품명</th>
                            <th width="10% ">주문수량</th>
                            <th width="10% ">상품금액</th>
                            <th width="10% ">배송상태</th>
                            <th width="10%"></th>
                        </tr>
                        </thead>
                        <tbody id="order-items">

                        </tbody>
                    </table>
                </div>
                <h5>배송지 정보</h5>
                <a class="btn btn-sm btn-primary d-none" href="" onclick="return false;" id="btn-edit-my-delivery">수정</a>
                <div class="mb-3 deliverInfo p-2">
                    <div class="row">
                        <div class="col-2">수신인명</div>
                        <div class="col"><span id="receiverName"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2">수신인 휴대전화</div>
                        <div class="col"><span id="receiverTel"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2">배송주소</div>
                        <div class="col"><span id="receiverAddr"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2">배송메세지</div>
                        <div class="col"><span id="message"></span></div>
                    </div>
                </div>
                <div class="p-2 d-none updateDelivery" >
                    <form id="form-update-delivery">
                        <input type="hidden" name="deliveryId" />
                        <div class="form-group form-row">
                            <div class="col-sm-2"><label for="receiverName">배송인</label></div>
                            <div class="col-sm-10"><input type="text" class="form-control" name="receiverName" id="receiverName" /></div>
                        </div>

                        <div class="form-group form-row">
                            <div class="col-sm-2"><label for="receiverTel">휴대전화</label></div>
                            <input type="hidden" name="receiverTel" id="receiverTel"/>
                            <div class="col-sm-3"><input type="text" class="form-control" id="receiverTel1" /></div> -
                            <div class="col-sm-3"><input type="text" class="form-control" id="receiverTel2" /></div> -
                            <div class="col-sm-3"><input type="text" class="form-control" id="receiverTel3" /></div>
                        </div><div class="form-group form-row">
                            <div class="col-sm-2">주소</div>
                            <div class="col-sm-2">
                                <a class="btn btn-sm btn-outline-primary" onclick="delivery_update_execDaumPostcode()">주소 검색</a><br>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="receiverAddr1" id="receiverAddr1" />
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="receiverAddr2" id="receiverAddr2" />
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-sm-2"><label for="message">배송메세지</label></div>
                            <div class="col-sm-10"><input type="text" class="form-control" name="message" id="message" /></div>
                        </div>
                    </form>
                    <div class="div-form-buttons">
                        <a class="btn btn-primary" id="btn-update-delivery">저장</a>
                    </div>
                </div>
            </div>
            <!-- // Order Detail -->
            <!-- Qna List -->
            <div class="d-none p-2 contentDiv" id="div-my-qna-list" >
                <h4 class="mb-3">문의내역</h4>
<!--                <div class="p-2 mb-5 bg-light text-secondary memberInfo">
                    <p><span class="name text-primary"></span>님은 [<span class="currRating text-primary"></span>] 등급이십니다.</p>
                    <p>구매금액의 <span class="ratio text-primary"></span>%가 포인트로 적립됩니다.</p>
                    <p>[<span class="nextRating text-primary"></span>]까지 남은 구매금액은 <span class="remainingAmount text-primary"></span>원 입니다.</p>

                    <p>총 주문금액 : <span class="orderedAmount text-dark"></span>원</p>
                    <p>가용적립금 : <span class="reserves text-dark"></span>원</p>
                </div>-->

                <div class="mb-3">
                    <table class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th width="10%" >카테고리</th>
                            <th>제목</th>
                            <th width="10% ">작성일시</th>
                            <th width="15%">답변상태</th>
                        </tr>
                        </thead>
                        <tbody id="my-qnas">

                        </tbody>
                    </table>
                    <div>
                        <ul class="pagination pagination-sm justify-content-center" id="pagination-qna" >
                        </ul>
                    </div>
                </div>
            </div>
            <!-- // Qna List -->
            <!-- // Index Content-->
{{>layout/footer}}