{{>layout/header}}

<!-- Index Content -->

<div>
    <p class="categoryTitle">BEST</p>
</div>
<div class="container-fluid" id="div-sales-item-detail">
    <div class="row" >
        <div class="col-sm-9"></div>
        <div class="col-sm-3 bg-danger" >


        </div>
    </div>
</div>
<!-- /.container -->
<script src="/static/js/item.js"></script>
{{>layout/footer}}