{{>layout/header}}
<div class="container">
    <div class="row m-5" id="div-login">
        <div class="col-lg"></div>
        <div class="col-lg">
            <form id="form-login">
                <div class="form-group">
                    <label for="principal">아이디</label>
                    <input type="text" class="form-control" name="principal" id="principal" />
                </div>
                <div class="form-group">
                    <label for="credentials">비밀번호</label>
                    <input type="password" class="form-control" name="credentials" id="credentials" />
                </div>

                <input type="hidden" class="form-control" name="role" id="role" value="MEMBER"/>
                <a class="btn btn-primary" id="btn-login">로그인</a>
                <a class="btn" id="btn-go-join">회원가입</a>
                <a class="btn" id="btn-forgot">ID/비밀번호 찾기</a>
            </form>
        </div>
        <div class="col-lg"></div>
    </div>
    <div class="m-5" id="div-join" style="display: none;">
        <div class="col-lg">
            <form id="form-join">
                <div class="form-group">
                    <label for="userId">아이디</label>
                    <input type="text" class="form-control" name="userId" id="userId" />
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" name="password" id="password" />
                </div>
                <div class="form-group">
                    <label for="name">닉네임</label>
                    <input type="text" class="form-control" name="name" id="name" />
                </div>
                <div class="form-group">
                    <label for="tel">휴대전화</label>
                    <input type="hidden" name="tel" id="tel"/>
                    <input type="text" class="form-control" id="tel1" /> -
                    <input type="text" class="form-control" id="tel2" /> -
                    <input type="text" class="form-control" id="tel3" />
                </div>
                <div class="form-group">
                    <label for="addr">주소</label>
                    <input type="hidden" name="addr" id="addr"/>
                    <input type="text" class="form-control" id="addr1" />
                    <input type="text" class="form-control" id="addr2" />
                </div>
                <a class="btn btn-primary" id="btn-join">가입</a>
            </form>
        </div>
    </div>
</div>
<script src="static/js/member.js"></script>
{{>layout/footer}}