
<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">리뷰 작성</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-2">별점</div>
                        <div class="col-10">
                            <span class="mr-3">
                            <input type="radio" name="score" value="5" id="review-5-score" checked>
                            <label for="review-5-score">5</label>
                        </span>
                            <span class="mr-3">
                            <input type="radio" name="score" value="4" id="review-4-score">
                            <label for="review-4-score">4</label>
                        </span>
                            <span class="mr-3">
                            <input type="radio" name="score" value="3" id="review-3-score">
                            <label for="review-3-score">3</label>
                        </span>
                            <span class="mr-3">
                            <input type="radio" name="score" value="2" id="review-2-score">
                            <label for="review-2-score">2</label>
                        </span>
                            <span class="mr-3">
                            <input type="radio" name="score" value="1" id="review-1-score">
                            <label for="review-1-score">1</label>
                        </span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">내용</div>
                        <div class="col-10">
                            <textarea name="content" cols="50" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="reviewImgFile">이미지</label></div>
                        <div class="col">
                            <p class="reviewImgFileInfo d-none"><img class="oriReviewImgFile" width="50px"/></p>
                            <input type="file" class="form-control mb-2" accept="image/png, image/jpeg" name="reviewImgFile" id="reviewImgFile"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save-review">등록</button>
            </div>
        </div>
    </div>
</div>
<script>
    var reviewModal = {
        itemId : '',
        memberId : '',
        reviewId : '',
        init : function(memberId, itemId, reviewId){
            var _this = this;
            _this.memberId = memberId;
            _this.itemId = itemId;
            _this.reviewId = reviewId;

            const isNewReview = _this.reviewId === '';
            if(!isNewReview){
                _this.loadReview();
            } else {
                _this.clear();
            }

            $('#reviewModal #btn-save-review').unbind('click').click(function(){
                if(isNewReview){
                    _this.writeReview();
                } else {
                    _this.updateReview();
                }
            });
        },
        clear : function(){
            $('#reviewModal input[name="score"]').prop('checked', false);
            $('#reviewModal #review-5-score').prop('checked', true);
            $('#reviewModal textarea[name="content"]').val('');
            $('#reviewModal .reviewImgFileInfo').addClass("d-none");
            $('#reviewModal .oriReviewImgFile').prop("src", '');
            $('#reviewModal .input[name="reviewImgFile"]').val('');
        },
        loadReview : function(){
            const _this = this;
            $.ajax({
                type: 'GET',
                url: '/api/mall/review/' + _this.reviewId,
                contentType: 'application/json; charset=utf-8',
            }).done(function(response) {
                const review = response.response;
                //console.log(review);
                $('#reviewModal input[name="score"]').each(function(){
                    if($(this).val() == review.score){
                        $(this).prop('checked', true);
                        return false;
                    }
                });
                $('#reviewModal textarea[name="content"]').val(review.content);
                if(review.reviewImg !== null){
                    $('#reviewModal .reviewImgFileInfo').removeClass("d-none");
                    $('#reviewModal .oriReviewImgFile').prop("src", review.reviewImg);
                }
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });

        },
        writeReview : function(){
            const _this = this;
            let data = new FormData();
            const div = $('#reviewModal');
            let score = 5;
            $(div.find('input[name="score"]')).each(function(){
               if($(this).prop('checked')){
                   score = $(this).val();
                   return false;
               }
            });
            data.append('score', score);
            data.append('content', div.find('textarea[name="content"]').val());
            data.append('reviewImgFile', div.find("input[name='reviewImgFile']")[0].files[0]);
            //console.log(data.getAll('score'));
            //console.log(data.getAll('content'));
            //console.log(data.getAll('reviewImgFile'));
            $.ajax({
                type: 'POST',
                url: '/api/mall/member/' + _this.memberId + '/orderItem/' + _this.itemId + '/review',
                processData: false,
                contentType: false,
                data : data
            }).done(function(response) {
                //console.log(response);
                alert('저장되었습니다.');
                myOrderDetail.load();
                $('#reviewModal').modal('hide');
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        updateReview : function(){
            const _this = this;
            let data = new FormData();
            const div = $('#reviewModal');
            data.append('score', div.find('input[name="score"]:checked').val());
            data.append('content', div.find('textarea[name="content"]').val());
            data.append('reviewImgFile', div.find("input[name='reviewImgFile']")[0].files[0]);
            console.log(data.getAll('score'));
            console.log(data.getAll('content'));
            console.log(data.getAll('reviewImgFile'));
            $.ajax({
                type: 'PUT',
                url: '/api/mall/member/' + _this.memberId + '/review/' + _this.reviewId,
                processData: false,
                contentType: false,
                data : data
            }).done(function(response) {
                //console.log(response);
                alert('저장되었습니다.');
                myOrderDetail.load();
                $('#reviewModal').modal('hide');
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    };
    $(document).on('click', '.btn-review', function(){
        const itemId = $(this).find('input[name="orderItemId"]').val();
        const userId = $(this).find('input[name="userId"]').val();
        const reviewId = $(this).find('input[name="reviewId"]').val();
        reviewModal.init(userId, itemId, reviewId);
    });
</script>